{% extends 'VitelogeAdminBundle::layout.html.twig' %}

{% block title %}
  {{ 'control.confirm_clear.title'|trans }} {{ traitement.agence.nom }}, {{ traitement.StringTypeTransaction }}
{% endblock %}

{% block sonata_admin_content %}

<p>{{ 'control.confirm_clear.nb_ads'|trans }}: <strong>{{ nb_annonces|number_format }}</strong></p>

<form action="{{ path( 'viteloge_admin_traitement_modify', { id: traitement.idTraitement } ) }}" method="POST">
  <input type="hidden" name="action" value="file_clear">
  <input type="hidden" name="confirmed" value="1">
  <input type="submit" value="{{ 'control.confirm_clear.confirm'|trans({ '%nb_annonces%': nb_annonces|number_format }) }}" class="btn btn-danger">
  <a href="javascript:history.back();" class="btn">{{ 'control.confirm_clear.not_really' | trans }}</a>
</form>
{% endblock %}
