{% extends 'VitelogeAdminBundle::layout.html.twig' %}

{% block title %}
  Contrôle de traitement pour {{ traitement.agence.nom }}, {{ traitement.StringTypeTransaction }}
{% endblock %}

{% block sonata_admin_content %}

<div class="viteloge-actions">
  <a href="{{ path( 'admin_viteloge_admin_traitement_edit', { id:traitement.idTraitement } ) }}" class="btn">Éditer</a>
  <a href="{{ path( 'viteloge_admin_traitement_test', { id: traitement.idtraitement } ) }}" class="btn">Tester</a>
</div>

<div class="control">
  <h2>Prochaines URL traitée dans la PILE</h2>
  <ol>
    {% for url in pile %}
    <li><a class="test" href="{{ path( 'viteloge_admin_traitement_test', { id: traitement.id, TypeSource: url.type, source: url.full_url } ) }}">test</a> <a href="{{ url.full_url }}">{{ url.full_url }}</a> <a href="{{ path( 'viteloge_admin_traitement_heapremove', { id:traitement.id,heap_id: url.id }) }}">X</a></li>
    {% endfor %}
  </ol>

  {% if flags|length > 0 %}
    <h2>Etat du traitement</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Nombre d'annonces non-traitées</th>
          <th>Nombre d'annonces traitées</th>
          <th>Nombre d'annonces exportées</strong>)</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ flags.unhandled }}</td>
          <td>{{ flags.handled }}</td>
          <td>{{ nbAnnoncesExportees }} (<strong>{{ ( nbAnnoncesExportees * 100 / flags.handled ) | number_format(2) }}%</strong>)</td>
        </tr>
        </tbody>
    </table>
  {% endif %}



</div>



{% endblock %}
