{% extends 'VitelogeAdminBundle::layout.html.twig' %}

{% block title %}
  {{ 'control.title.general'|trans }} {{ traitement.agence.nom }}, {{ traitement.StringTypeTransaction | trans}}
{% endblock %}

{% block sonata_admin_content %}
{% include 'VitelogeAdminBundle:Traitement:display_flash.html.twig' %}
{% if not traitement.agence.url is empty %}
<p><a href="{{ traitement.agence.url }}">{{ traitement.agence.url }}</a></p>
{% endif %}
<div class="row-fluid">
  <div class="span3">
    <div class="viteloge-actions">
      <a href="{{ path( 'viteloge_admin_traitement_edit', { id:traitement.idTraitement } ) }}" class="btn btn-small"><i class="icon-pencil"></i> {{ 'treatment.edit'|trans }}</a>
      <a href="{{ path( 'viteloge_admin_traitement_test', { id: traitement.idtraitement } ) }}" class="btn btn-small"><i class="icon-play"></i> {{ 'treatment.test'|trans }}</a>
    </div>
  </div>
  <div class="span4">
    {% if traitement.isPaused %}
    <span class="label label-warning" title="{{ traitement.TimestampPause|date('Y-m-d H:i') }}">{{ 'En pause' | trans }}</span>
    {% endif %}
    {% if traitement.Exclus %}
    <span class="label label-important">{{ 'Exclus!' | trans }}</span>
      {% if traitement.isPoliris %}
    <span class="label label-inverse">Poliris</span>
      {% endif %}
{% set tr_raison = traitement.blacklist.translatableReason %}
    <span>{% if tr_raison %}
      {{ tr_raison.msg|trans({},'blacklist') }}{% if tr_raison.detail %} : {{ tr_raison.detail }}{% endif %}
      {% else %}
      {{ traitement.blacklist.raison|trans({},'blacklist') }}
      {% endif %}</span>
    {% endif %}
  </div>
</div>

<div class="control">
  <h2>{{ 'control.title.next_urls'|trans }}</h2>
  {% if pile|length > 0 %}
    <ol>
      {% for url in pile %}
        <li><a class="test" href="{{ path( 'viteloge_admin_traitement_test', { id: traitement.id, TypeSource: url.type, source: url.full_url } ) }}">test</a> <a href="{{ url.full_url }}">{{ url.full_url }}</a> <a href="{{ path( 'viteloge_admin_traitement_heapremove', { id:traitement.id,heap_id: url.id }) }}">X</a></li>
      {% endfor %}
    </ol>
    {% if pile|length < pile_total %}
      {% if pile_long %}
        <p>{{ 'control.pile_detail'| trans({ '%total%': pile_total, '%current%': pile|length }) }}</p>
      {% else %}
        <p><a href="{{ path( 'viteloge_admin_traitement_control', { id: traitement.id, pile_long: 1 } ) }}">{{ 'control.pile_long' | trans }}</a></p>
      {% endif %}
    {% endif %}
  {% else %}
  <p>{{ 'control.empty_heap'|trans }} </p>
  {% endif %}

  {% if lastDownload is not null %}
    <h2>{{ 'control.title.last_download' | trans }}</h2>
    {% if lastDownload.resultSize > 0 %}
      <a href="{{ path('viteloge_admin_traitement_lastcontent', {id: traitement.idTraitement }) }}" target="_blank">{{ 'control.last_download' | trans }}</a>
    {% endif %}
    <p>({{ ( lastDownload.resultSize / 1024 ) | number_format( 2 ) }} ko le {{ lastDownload.downloadedAt }})</p>
  {% endif %}

  {% if flags|length > 0 %}
    <h2>{{ 'control.title.state' | trans }}</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>{{ 'control.ads.flagged' | trans }}</th>
          <th>{{ 'control.ads.unflagged' | trans }}</th>
          <th>{{ 'control.ads.export' | trans }}</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ flags.unhandled }}</td>
          <td>{{ flags.handled }}</td>
          <td>{{ nbAnnoncesExportees }} {% if flags.handled > 0 %}(<strong>{{ ( nbAnnoncesExportees * 100 / flags.handled ) | number_format(2) }}%</strong>){% endif %}</td>
        </tr>
        </tbody>
    </table>
  {% endif %}


  <div class="control-actions form-inline">
    <form action="{{ path( 'viteloge_admin_traitement_modify', { id: traitement.idTraitement } ) }}" method="POST">
      <select name="action">
        <option value="">{{ 'control.actions.title'|trans }}</option>
        {% if pile|length > 0 %}
        <optgroup label="Pile">
          <option value="clear_heap">{{ 'control.actions.clear_heap'|trans }}</option>
        </optgroup>
        {% endif %}
        <optgroup label="Annonces">
          <option value="reset_flag">{{ 'control.actions.reset_flag'|trans }}</option>
          <option value="file_update">{{ 'control.actions.file_update'|trans }}</option>
          <option value="file_update_errors">{{ 'control.actions.file_update_errors'|trans }}</option>
          <option value="file_clear" style="color:red;">{{ 'control.actions.file_clear'|trans }}</option>
        </optgroup>
        <optgroup label="Traitement">
          <option value="heap_top">{{ 'control.actions.heap_top'|trans }}</option>
          <option value="reset_errors">{{ 'control.actions.reset_errors'|trans }}</option>
          {% if traitement.Exclus %}
            <option value="reactivate_safe">{{ 'control.actions.reactivate_safe'|trans }}</option>
            <option value="reactivate_continue">{{ 'control.actions.reactivate_continue'|trans }}</option>
            {% if pile|length == 0 %}
              <option value="end">{{ 'control.actions.end'|trans }}</option>
            {% endif %}
            {% if traitement.isPaused %}
              <option value="unpause">{{ 'control.actions.unpause'|trans }}</option>
            {% endif %}
          {% endif %}
        </optgroup>
      </select>
      <input class="btn btn-danger" type="submit" value="{{ 'control.actions.execute'|trans }}">
    </form>
  </div>

  <div class="stats">
    <a class="btn action-display" href="{{ path( 'viteloge_admin_traitement_graph', { id: traitement.idTraitement } ) }}">{{ 'control.stats'|trans}}</a>
  </div>


</div>



{% endblock %}
