{% extends 'VitelogeAdminBundle::layout.html.twig' %}

{% block sonata_admin_content %}
<table class="table table-bordered table-striped table-condensed controles">
  <thead></thead>
  <tbody>
    {% for traitement in traitements %}
      <tr {% if traitement.agence.idPrivilege != 0 %}class="error"{% elseif traitement.agence.ancienne %}class="muted"{% endif %}>
        <td><a href="{{ path('viteloge_admin_agence_edit', {id:traitement.agence.id} ) }}">{{ traitement.agence.nom }}</a></td>
        <td>{{ traitement.StringTypeTransaction | trans }}</td>
        {% if traitement.blacklist is not null %}
        <td>{{ traitement.blacklist.when|date("d/m/Y") }}</td>
        <td>{{ traitement.blacklist.raison }}</td>
        {% else %}
        <td colspan="2"></td>
        {% endif %}
        <td class="actions">
          <a class="btn btn-mini" href="{{ path('viteloge_admin_traitement_control', { id: traitement.idTraitement } ) }}"   ><i class="icon-fire"></i> {% trans %}treatment.control{% endtrans %}</a>
          <a class="btn btn-mini" href="{{ path('viteloge_admin_traitement_test', { id: traitement.idTraitement } ) }}"      ><i class="icon-play"></i> {% trans %}treatment.test{% endtrans %}</a>
          <a class="btn btn-mini" href="{{ path('viteloge_admin_traitement_edit', { id: traitement.idTraitement } ) }}"><i class="icon-pencil"></i> {% trans %}treatment.edit{% endtrans %}</a>
        </td>
        <td><a href="{{ traitement.agence.url }}" title="{{ 'agence.website'|trans}}"><i class="icon-globe"></a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
