{% extends 'VitelogeAdminBundle::layout.html.twig' %}

{% block sonata_admin_content %}
<table class="table table-bordered table-striped controles">
  <thead></thead>
  <tbody>
    {% for traitement in traitements %}
      <tr {% if traitement.agence.idPrivilege != 0 %}class="urgent"{% endif %}>
        <td>{{ traitement.agence.nom }}</td>
        <td>{{ traitement.StringTypeTransaction}}</td>
        {% if traitement.blacklist is not null %}
        <td>{{ traitement.blacklist.raison }}</td>
        {% else %}
        <td></td>
        {% endif %}
        <td>
          <a class="btn" href="{{ path('viteloge_admin_traitement_control', { id: traitement.idTraitement } ) }}">Contrôler</a>
          <a class="btn" href="{{ path('admin_viteloge_admin_traitement_edit', { id: traitement.idTraitement } ) }}">Éditer</a>
          <a class="btn" href="{{ path('viteloge_admin_traitement_test', { id: traitement.idTraitement } ) }}">Tester</a>
        </td>
        <td><a href="{{ traitement.agence.url }}">site</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
