{% extends 'VitelogeAdminBundle::layout.html.twig' %}

{% block sonata_admin_content %}
<div class="container">
  <div class="row">
    <div class="span2">Total: {{ traitements | length }}</div>
    <form name="filter_exclus" method="GET" class="form-inline">
      <div class="span3 offset3">
        {{ form_widget(filter_form.poliris) }}
      </div>
      <div class="span3">
        {{ form_widget(filter_form.sort) }}
      </div>
      <div class="span1">
        <input class="btn" type="submit" value="{{ 'filtrer'|trans }}">
      </div>
    </form>
  </div>
  <div class="row">
  <table class="table table-bordered table-striped table-condensed controles">
    <thead></thead>
  <tbody>
    {% for traitement in traitements %}
      <tr {% if traitement.agence.idPrivilege != 0 %}class="error"{% elseif traitement.agence.ancienne %}class="muted"{% endif %}>
        <td><a href="{{ path('viteloge_admin_agence_edit', {id:traitement.agence.id} ) }}">{{ traitement.agence.nom }}</a></td>
        <td>{{ traitement.StringTypeTransaction | trans }}</td>
        {% if traitement.blacklist is not null %}
        <td>{{ traitement.blacklist.when|date("d/m/Y") }}</td>
        <td>
{% set tr_raison = traitement.blacklist.translatableReason %}
{% if tr_raison %}
  {{ tr_raison.msg|trans({},'blacklist') }}{% if tr_raison.detail %} : {{ tr_raison.detail }}{% endif %}
{% else %}
  {{ traitement.blacklist.raison|trans({},'blacklist') }}
{% endif %}</td>
        {% else %}
        <td colspan="2"></td>
        {% endif %}
        <td class="actions btn-group">
          <a class="btn btn-mini" href="{{ path('viteloge_admin_traitement_control', { id: traitement.idTraitement } ) }}"   ><i class="icon-fire"></i> {% trans %}treatment.control{% endtrans %}</a>
          <a class="btn btn-mini" href="{{ path('viteloge_admin_traitement_test', { id: traitement.idTraitement } ) }}"      ><i class="icon-play"></i> {% trans %}treatment.test{% endtrans %}</a>
          <a class="btn btn-mini" href="{{ path('viteloge_admin_traitement_edit', { id: traitement.idTraitement } ) }}"><i class="icon-pencil"></i> {% trans %}treatment.edit{% endtrans %}</a>
        </td>
        <td><a href="{{ traitement.agence.url }}" title="{{ 'agence.website'|trans}}"><i class="icon-globe"></a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
  </div>
</div>
{% endblock %}
