
<div class="results">
  {% if type == 'R' %}
  <h2>{{ 'test.results.title.urls'|trans }}</h2>
  <ul class="links">
  {% for url in results.urls %}
    <li><a class="test" href="?TypeSource={{ type }}&source={{ url|url_encode }}">test</a> <a target="_blank" class="crawlable" href="{{ url }}">{{ url }}</a></li>
  {% endfor %}
  </ul>
  {% endif %}
  <h2>{{ 'test.results.title.expr'|trans }}</h2>
  <ul class="expressions">
    {% for expression_name, result in results.expressions %}
    <li><i>{{ expression_name }} </i>{% if result.expr is defined %} (<span class="expression">{{ result.expr }}</span>){% endif %} :
      {% if result.empty is defined %}
      <span class="empty">{{ 'test.results.not_completed'|trans }}</span>
      {% elseif result.error is defined %}
      <span class="error">{{ result.error }}</span>
      {% elseif result.array %}
      {{ result.value|length }} {{ 'test.results.results'|trans }}
      {% elseif result.url is defined %}
      <a class="test" href="?TypeSource={{ type }}&source={{ result.value|url_encode }}">test</a> <a target="_blank" class="crawlable" href="{{ result.value }}">{{ result.value }}</a>     
      {% elseif result.value|length > 0 %}
      {{ result.value }}
        {% if result.photo is defined %}
          <br />
          <img src="{{ result.photo }}" width="320">
        {% endif %}

      {% else %}
        <span class="error">{{ 'test.results.no_result'|trans }}</span>
      {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% if results.liens_pages_suivantes_nombre is defined %}
    <h3>{{ 'test.results.title.next_page_urls'|trans }}</h3>
    <ul>
    {% for lien_resultat in results.liens_pages_suivantes_nombre %}
      <li><a class="test" href="?TypeSource=R&source={{ lien_resultat|url_encode }}">test</a> <a target="_blank" class="crawlable" href="{{ lien_resultat|url_encode }}">{{ lien_resultat }}</a></li>
      
    {% endfor %}
    </ul>
  {% endif %}
  {% if results.liens_fiches is defined %}
    <h2>{{ 'test.results.title.sheet_template'|trans }}</h2>
    <ol>
    {% for lien_fiche in results.liens_fiches %}
      <li><a class="test" href="?TypeSource=F&source={{ lien_fiche|url_encode }}">test</a> <a target="_blank" class="crawlable" href="{{ lien_fiche }}">{{ lien_fiche }}</a></li>
    {% endfor %}
    </ol>
  {% endif %}
</div>
