
<div class="results">
  {% if type == 'R' %}
  <h2>Liste des URL Traitement utilisée</h2>
  <ul class="links">
  {% for url in results.urls %}
    <li><a class="test" href="?TypeSource={{ type }}&source={{ url|url_encode }}">test</a> <a href="{{ url }}">{{ url }}</a></li>
  {% endfor %}
  </ul>
  {% endif %}
  <h2>Expressions</h2>
  <ul class="expressions">
    {% for expression_name, result in results.expressions %}
    <li><i>{{ expression_name }} </i>{% if result.expr is defined %} (<span class="expression">{{ result.expr }}</span>){% endif %} :
      {% if result.empty is defined %}
      <span class="empty">not completed</span>
      {% elseif result.array %}
      {{ result.value|length }} résultats
      {% elseif result.url is defined %}
      <a class="test" href="?TypeSource={{ type }}&source={{ result.value|url_encode }}">test</a> <a href="{{ result.value }}">{{ result.value }}</a>     
      {% elseif result.value|length > 0 %}
      {{ result.value }}
        {% if result.photo is defined %}
          <br />
          <img src="{{ result.photo }}" width="320">
        {% endif %}

      {% else %}
        <span class="error">No result</span>
      {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% if results.liens_fiches is defined %}
    <h2>Modèle fiche</h2>
    <ol>
    {% for lien_fiche in results.liens_fiches %}
      <li><a class="test" href="?TypeSource=F&source={{ lien_fiche|url_encode }}">test</a> <a href="{{ lien_fiche }}">{{ lien_fiche }}</a></li>
    {% endfor %}
    </ol>
  {% endif %}
</div>
