
<div class="results">
  {% if type == 'R' %}
  <h2>{{ 'test.results.title.urls'|trans }}</h2>
  <ul class="links">
  {% for url in results.urls %}
    <li><a class="test" href="?TypeSource={{ type }}&source={{ url|url_encode }}">test</a> <a target="_blank" class="crawlable" href="{{ url }}">{{ url }}</a></li>
  {% endfor %}
  </ul>
  {% endif %}
  {% if results.expressions|length > 0 %}
  <h2>{{ 'test.results.title.expr'|trans }}</h2>
    {% if results.expressions|length > 1 %}
      <div class="accordion" id="fiches">
        {% for individual_result in results.expressions %}
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#fiches" href="#collapse{{ loop.index }}">
                Fiche {{ loop.index }}
              </a>
            </div>
            <div id="collapse{{ loop.index }}" class="accordion-body collapse">
              <div class="accordion-inner">
                {% include 'VitelogeAdminBundle:Traitement:test_detail.html.twig'  %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      {% include 'VitelogeAdminBundle:Traitement:test_detail.html.twig' with { 'individual_result': results.expressions[0] }  %}
    {% endif %}
  {% if results.liens_pages_suivantes_nombre is defined %}
    <h3>{{ 'test.results.title.next_page_urls'|trans }}</h3>
    <ul>
    {% for lien_resultat in results.liens_pages_suivantes_nombre %}
      <li><a class="test" href="?TypeSource=R&source={{ lien_resultat|url_encode }}">test</a> <a target="_blank" class="crawlable" href="{{ lien_resultat|url_encode }}">{{ lien_resultat }}</a></li>
      
    {% endfor %}
    </ul>
  {% endif %}
  {% if results.liens_fiches is defined %}
    <h2>{{ 'test.results.title.sheet_template'|trans }}</h2>
    <ol>
    {% for lien_fiche in results.liens_fiches %}
      <li><a class="test" href="?TypeSource=F&source={{ lien_fiche|url_encode }}">test</a> <a target="_blank" class="crawlable" href="{{ lien_fiche }}">{{ lien_fiche }}</a></li>
    {% endfor %}
    </ol>
  {% endif %}
  {% endif %}
</div>
