{% extends 'VitelogeAdminBundle::layout.html.twig' %}

{% block title %}
  Test d'expression pour {{ traitement.agence.nom }}, {{ traitement.StringTypeTransaction }}
{% endblock %}

{% block sonata_admin_content %}
<div id="notifications">
{% if app.session.hasFlash('error') %}
    <div class="alert alert-error">
        {{ app.session.flash('error') }}
    </div>
{% endif %}
{% if app.session.hasFlash('notice') %}
    <div class="alert alert-success">
        {{ app.session.flash('notice') }}
    </div>
{% endif %}
</div>
{% if results is defined and not results is null %}
  {% include 'VitelogeAdminBundle:Traitement:test_results.html.twig' with { 'results': results } %}
{% endif %}
<div class="sonata-bc">
  <form method="POST" class="form-horizontal" action="{{ path( 'viteloge_admin_traitement_test', { id:traitement.idTraitement} ) }}">
    <div class="control-group">
      <label for="TypeSource" class="control-label">Source: </label>
      <div class="controls">
        <select name="TypeSource">
          <option value="F" {% if type == 'F' %}selected{% endif %}>Fiche Annonce</option>
          <option value="R" {% if type == 'R' %}selected{% endif %}>Liste de résultats</option>
        </select>
        <span><a href="{{ path( 'viteloge_admin_traitement_clearcookies', {id: traitement.id}) }}" class="btn btn-small" data-remote="true">Supprimer les cookies</a></span>
      </div>
    </div>
    <div class="control-group">
      <label for="source" class="control-label">Entrer le code source de la page:</label>
      <div class="controls">
        <textarea name="source" style="width: 600px; height: 300px;">{% if source is defined %}{{ source }}{% endif %}</textarea>
      </div>
    </div>
    <div class="well form-actions">
      <button type="submit" value="Tester" name="btn_test" class="btn btn-primary">
        <i class="icon-play"></i> Tester
      </button>
      <a href="{{ path('viteloge_admin_traitement_edit', {id:traitement.idTraitement}) }}" class="btn"><i class="icon-pencil"></i> Éditer</a>
    </div>
  </form>
</div>
{% endblock %}
