{% extends 'VitelogeAdminBundle::layout.html.twig' %}

{% block sonata_admin_content %}
{% if error is defined %}
    <p class="alert-error">{{ error|trans({}, 'FOSUserBundle') }}</p>
{% endif %}

<form action="{{ path("fos_user_change_password") }}" method="post" {{form_enctype(form)}}>
  {{ form_widget( form._token ) }}
  
  <div class="control-group">
    <label class="control-label" for="password">{{ 'form.current_password'|trans({}, 'FOSUserBundle') }}</label>
    <div class="controls">
      {{ form_widget( form.current_password ) }}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="password">{{ 'form.new_password'|trans({}, 'FOSUserBundle') }}</label>
    <div class="controls">
      {{ form_widget( form.new.first ) }}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="password">{{ 'form.new_password_confirmation'|trans({}, 'FOSUserBundle') }}</label>
    <div class="controls">
      {{ form_widget( form.new.second ) }}
    </div>
  </div>

  <div class="control-group">
    <div class="controls">  
      <input class="btn" type="submit" id="_submit" name="_submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
  </div>
</form>

{% endblock %}
