{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}
{% block stylesheets %}
{{ parent() }}
{% stylesheets '@VitelogeAdminBundle/Resources/public/scss/default.scss' filter='scss' output='bundles/vitelogeadmin/css/compiled.css' %}
  <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
{% endstylesheets %}
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script type='text/javascript' src='http://www.google.com/jsapi'></script>
  {% javascripts '@VitelogeAdminBundle/Resources/public/js/viteloge.coffee' filter='coffee' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block form %}
  {% if not object.id is null %}
    <div class="viteloge agence traitements">
    {% if object.traitements|length > 0 %}
      {% include 'VitelogeAdminBundle:Agence:edit_list_traitements.html.twig' %}
    {% endif %}
    {% if object.xml_feeds|length > 0 %}
      {% include 'VitelogeAdminBundle:Agence:edit_list_xmlfeeds.html.twig' %}
    {% endif %}
    {% if object.privileges|length > 0 %}
      {% include 'VitelogeAdminBundle:Agence:edit_list_privileges.html.twig' %}
    {% endif %}
    </div>

    <table width="100%">
      <tr>
        <td>
          {% if is_granted('ROLE_VITELOGE_ADMIN_TRAITEMENT_CREATE') %}
          <a href="{{ path('viteloge_admin_traitement_create', {idAgence: admin.id(object)}) }}" class="btn">{% trans %}agence.edit.create_treatment{% endtrans %}</a>
          {% endif %}
          {% if is_granted('ROLE_VITELOGE_ADMIN_XML_FEED_CREATE') %}
          <a href="{{ path('viteloge_admin_xmlfeed_create', {idAgence: admin.id(object)}) }}" class="btn">{% trans %}agence.edit.create_xml_feed{% endtrans %}</a>
          {% endif %}
          {% if is_granted('ROLE_AGENCY_RIGHTS') %}
          <a href="{{ path('viteloge_admin_privilege_create', {idAgence: admin.id(object)}) }}" class="btn">{% trans %}agence.edit.create_privileges{% endtrans %}</a>
          {% endif %}
          {% if is_granted('ROLE_CONTROL') %}
          <a href="{{ path('viteloge_admin_agence_stats',{id:admin.id(object)})}}">{% trans %}Statistiques{% endtrans %}</a>
          {% endif %}
        </td>
        <td>
          {% if admin.has_logo %}
            <img src="{{ admin.logo_path }}">
          {% endif %}
          {% set upload_form = admin.upload_form %}
          <form action="{{ path( 'viteloge_admin_agence_logo', {id:admin.id(object)} ) }}" method="POST" {{ form_enctype(upload_form) }} class="heading">
            {% if not admin.has_logo %}
            <div>{{ form_widget( upload_form.logo ) }}</div>
            <br />
            <div class="form-inline resize">
              {{ form_label( upload_form.resize ) }}
              {{ form_widget( upload_form.resize ) }}
              {{ form_widget( upload_form.width ) }} x {{ form_widget( upload_form.height ) }}
              <input class="btn" type="submit" value="{% trans %}Uploader{% endtrans %}"/>
            </div>
            <br />
            {{ form_rest(upload_form) }}
            {% else %}
            {{ form_widget(upload_form._token) }}
            <input class="btn btn-danger" type="submit" value="{% trans %}Supprimer{% endtrans %}"/>
            {% endif %}
          </form>
        </td>
      </tr>
    </table>
  {% endif %}
  {{ parent() }}
{% endblock %}
