<table class="table sonata-bc table-bordered table-striped sonata-ba-list">
  <thead>
    <tr>
      <th>Transaction</th>
      <th>URL</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
{% for traitement in object.traitements %}
  {% if traitement.UrlTraitement|length > 50 %}
    {% set tr_url = traitement.UrlTraitement|slice(0,50) ~ '...' %}
  {% else %}
    {% set tr_url = traitement.UrlTraitement %}
  {% endif %}
    <tr>
      <td>{{ traitement.StringTypeTransaction }}</td>
      <td>{{ tr_url }}</td>
      <td>
        <a href="{{  path('viteloge_admin_traitement_control', { id: admin.id(traitement) } ) }}"    class="btn btn-small"><i class="icon-fire"></i> Contrôler</a>
        <a href="{{  path('viteloge_admin_traitement_test', { id: admin.id(traitement) } ) }}"       class="btn btn-small"><i class="icon-play"></i> Tester</a>
        <a href="{{  path('admin_viteloge_admin_traitement_edit', { id: admin.id(traitement) } ) }}" class="btn btn-small"><i class="icon-pencil"></i> Éditer</a>
      </td>

    </tr>
{% endfor %}
  </tbody>
</table>
