{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}
{% block sonata_pre_fieldsets %}
<div class="viteloge agence traitements">
{% if object.traitements|length > 0 %}
<table class="table sonata-bc table-bordered table-striped sonata-ba-list">
  <thead>
    <tr>
      <th>Transaction</th>
      <th>URL</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
{% for traitement in object.traitements %}
  {% if traitement.UrlTraitement|length > 50 %}
    {% set tr_url = traitement.UrlTraitement|slice(0,50) ~ '...' %}
  {% else %}
    {% set tr_url = traitement.UrlTraitement %}
  {% endif %}
    <tr>
      <td>{{ traitement.StringTypeTransaction }}</td>
      <td>{{ tr_url }}</td>
      <td>
        <a href="{{  path('viteloge_admin_traitement_control', { id: admin.id(traitement) } ) }}" class="btn">Contrôler</a>
        <a href="{{  path('viteloge_admin_traitement_test', { id: admin.id(traitement) } ) }}" class="btn">Tester</a>
        <a href="{{  path('admin_viteloge_admin_traitement_edit', { id: admin.id(traitement) } ) }}" class="btn">Éditer</a>
      </td>

    </tr>
{% endfor %}
  </tbody>
</table>
{% endif %}
{% if object.xml_feeds|length > 0 %}
<table class="table sonata-bc table-bordered table-striped sonata-ba-list">
  <thead>
    <tr>
      <th>URL</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
{% for xml_feed in object.xml_feeds %}
  {#% if traitement.UrlTraitement|length > 50 %}
    {% set tr_url = traitement.UrlTraitement|slice(0,50) ~ '...' %}
  {% else %}
    {% set tr_url = traitement.UrlTraitement %}
  {% endif %#}
    <tr>
      <td>{{ xml_feed.url }}</td>
      <td>
        <a href="{{ path( 'admin_viteloge_admin_xmlfeed_edit', {id: xml_feed.id } ) }}" class="btn">Éditer</a>
      </td>

    </tr>
{% endfor %}
  </tbody>
</table>
{% endif %}
<a href="{{ path('admin_viteloge_admin_traitement_create', {idAgence: admin.id(object)}) }}" class="btn">Créer un nouveau traitement</a>
<a href="{{ path('admin_viteloge_admin_privilege_create', {idAgence: admin.id(object)}) }}" class="btn">Créer des privilèges</a>
<a href="{{ path('viteloge_admin_agence_stats',{id:admin.id(object)})}}">Statistiques</a>
</div>
{% endblock %}
