{% extends 'VitelogeAdminBundle::layout.html.twig' %}

{% block title %}
  Statistiques pour l'agence {{ agence.nom }}
{% endblock %}

{% block sonata_admin_content %}

<h2>Statistiques diverses</h2>

<p><span>Nombre d'annonces (publiées/total):</span> {{ stats.exported|number_format }} / {{ stats.all.nbAnnonces | number_format }}</p>
<p><span>Dernier accès du moteur:</span> {{ stats.all.lastUpdate }}</p>
<p><span>Nombre de visites le mois dernier:</span> {{ stats.nbvisits|number_format }}</p>
{% if not stats.repartition is null %}
<p><span>Répartition géographique:</span></p>
<div>
  <img src='http://chart.apis.google.com/chart?cht=p&chd=t:{{ stats.repartition.data|join(',') }}&chs=600x250&chl={{ stats.repartition.labels|join('|') }}&chco=FFA000'>"
</div>
{% endif %}
<p><a href="{{ path( 'viteloge_admin_agence_report', { id: agence.id } ) }}">Dernier rapport</a></p>

{% if agence.traitements|length > 0 or agence.xml_feeds| length > 0 %}
<h2>Progression des annonces</h2>

{% for traitement in agence.traitements %}

<h3>Traitement {{ traitement.StringTypeTransaction }} (<a href="{{ path('viteloge_admin_traitement_control',{id:traitement.id}) }}">contrôler</a>)</h3>

<div id="chart_{{traitement.id}}" class="google_chart" data-cycles="{% spaceless %}{{ cycles[traitement.id]|json_encode }}{% endspaceless %}"></div>

{% endfor %}
{% for xml_feed in agence.xml_feeds %}

<h3>Feed {{ xml_feed.id }}</h3>

<div id="chart_{{xml_feed.id}}" class="google_chart" data-cycles="{% spaceless %}{{ cycles_xml[xml_feed.id]|json_encode }}{% endspaceless %}"></div>

{% endfor %}
{% endif %}

{% endblock %} 
